@font-face {
    font-family: fat;
    src: url(./font/LeagueGothic-Regular.otf);
}

.App {
    position: absolute;
    user-select: none;

    display: flex;
    align-content: center;
    flex-direction: column;

    overflow: hidden;

    background-color: #1f1f23;
    background-size: 25%;
    height: 100%;
    width: 100%;
}